@page
@model Proyecto1.Pages.CategoriasModel
@{
}

<div class="card">
	<div class="card-header bg-primary text-white">
		<h3>Listado Categorias</h3>
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var categoria in Model.Categorias)
				{

				<tr>
					<td>@categoria.Id</td>
					<td>@categoria.Nombre</td>
					<td>
						<button class="btn btn-warning">Editar</button>
						<button class="btn btn-danger">Borrar</button>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>