@page
@model Proyecto1.Pages.editar_personajeModel
@{
}
<div class="d-flex justify-content-center">
	<div class="card col-6">
		<div class="card-header bg-primary text-white">
			<h3>Editar Personaje</h3>
		</div>
		<form method="post">
			<div class="card-body">
				<div class="form-group">
					<label>Nombre</label>
					<input asp-for="Personaje.Nombre" type="text" maxlength="50" class="form-control" />
					<span asp-validation-for="Personaje.Nombre" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label>Nombre Real</label>
					<input asp-for="Personaje.NombreReal" type="text" maxlength="50" class="form-control" />
				</div>
				<div class="form-group">
					<label>Super Poder</label>
					<textarea asp-for="Personaje.SuperPoder" maxlength="255" rows=3 class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label>Fecha Nacimiento</label>
					<input asp-for="Personaje.FechaNacimiento" type="date" class="form-control" />
				</div>
				<div class="form-group">
					<label>Categoria</label>
					<select asp-for="Personaje.CategoriaId" asp-items="Model.Categorias" class="form-select">
						<option value="">--Seleccione--</option>
					</select>
					<span asp-validation-for="Personaje.CategoriaId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label>Imagen</label>
					<input asp-for="Personaje.ImagenUrl" type="text" class="form-control" />
				</div>
			</div>
			<div class="card-footer d-flex justify-content-between">
				<button type="submit" class="btn btn-success">Guardar</button>
				<a asp-page="/personajes" class="btn btn-secondary">Cancelar</a>
			</div>
		</form>

	</div>
</div>