@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="d-flex justify-content-between">
    @foreach(var personaje in Model.Personajes)
    {
     <div class="card col-3">
        <div class="card-header">
            <h4>@personaje Personaje</h4>
        </div>

        <div class="card-body">
            <img class="img-fluid" src="@personaje.ImagenUrl" />
        </div>

        <div class="card-footer">
            <p>@personaje.NombreReal</p>
            <p>@personaje.SuperPoder</p>
            <p>@personaje.FechaNacimiento</p>
        </div>
    </div>
    }

</div>
  