@page
@model Proyecto1.Pages.nueva_categoriaModel
@{
}
<div class="d-flex justify-content-center">
	<div class="card col-6">
		<div class="card-header bg-primary text-white">
			<h3>Nueva Categoria</h3>
		</div>
		<form>
			<div class="card-body">
				<div class="form-group">
					<label>Nombre</label>
					<input class="form-control"/>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-between">
				<button class="btn btn-success">Guardar</button>
				<button class="btn btn-secondary">Cancelar</button>
			</div>
		</form>


	</div>
</div>