@page
@model Proyecto1.Pages.PersonasModel
@{
}

<h1>Soy la pagina Personas</h1>

<div class="card col-6">
	<div class="card-body">
		<div>
			<label>Saludos1</label>
			<input class="form-control" asp-for="Saludo1"/>
		</div>
		<div>
			<label>Saludos2</label>
			<input class="form-control" asp-for="Saludo2"/>
		</div>
	</div>

</div>